.modal-container {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.form .buttons-container {
  display: flex;
}

.form .buttons-container button {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
}

.form .buttons-container button:nth-child(2n - 1) {
  margin-right: 15px;
  cursor: pointer;
  background: #e74c3c;
  color: #fff;
}

.form .buttons-container button:nth-child(2n - 1):hover {
  background: #c0392b;
  color: #fff;
}

.form .buttons-container button:nth-child(2n) {
  cursor: pointer;
  background: #2ecc71;
  color: #fff;
}

.form .buttons-container button:nth-child(2n):hover {
  background: #27ae60;
  color: #fff;
}
